
body {
    background-image:linear-gradient(teal, #001f3f);
    background-repeat: repeat;
}
.wrapper {
    height: 900px;

}

.grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px 100px;
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 610px;
    margin-left: 350px;
    margin-top: 100px;
    grid-auto-rows: 250px;
    gap: 5px;
    border-radius: 5px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}


